api/eclipse
api/test
api/test-result
api/tmp
api/conf/application.conf
api/.settings/
api/.classpath
api/logs
api/server.pid
.project
zenithub.h2.db
zenithub.lock.db
zenithub.trace.db
logs/
target/
zenithub.iml
zenithub.ipr
zenithub.iws
project/target
