body{
	padding-top: 40px;
    position: relative;
}
.ng-cloak {
  /* this will change to block when scope and angular is ready */
  display:none;
}
.breaker{
	clear:both;
}
.even{
	background-color:#E3E3E3;
}
#searchForm {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}
#searchForm label{
	display:block;
	text-align: center;
}
#searchForm div {
	text-align: center;
    width: 100%;
}
h2{
	font-size:21px;
	line-height:21px;
	text-align: center;
}
.content h3{
	font-size:18px;
	font-weight: normal;
	border-bottom: 1px solid #DDDDDD;
}
#sidenav {
	margin-right:0px;
}
ul.repositories{
	list-style:none;
}
ul.repositories li {
	margin:0px;
}
ul.repositories li{
	padding: 10px;
	border-radius: 10px;
}
div.repository div strong{
	width:100px;
}
div.repository img{
	display:block;
	margin:0 auto;
}
.members ul{
	list-style: none;
}
.members ul li{
	display:block;
	float:left;
}
.members img{
	width:80px;
}
#member .user img{
	display:block;
	float:left;
}
#member .user div.info{
	float:left;
}
#member .user div.info ul{
	list-style:none;
}
#member .user div.info ul li *{
	display: block;
	float:left;
}
#member .user div.info ul li strong{
	width:100px;
}
#member .user div.info ul li{
	clear:both;
}
div.raphael{
	margin-top: -100px;
	height: 630px;
	overflow:hidden;
}
svg{
	display: block;
	margin: 0 auto;
}