body{
	padding-top: 40px;
    position: relative;
}
.ng-cloak {
  /* this will change to block when scope and angular is ready */
  display:none;
}
.breaker{
	clear:both;
}
.even{
	background-color:#F5F5F5;
}
#searchForm {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
}
#searchForm label{
	display:block;
	text-align: center;
}
#searchForm div {
	text-align: center;
    width: 100%;
}
h2{
	font-size:21px;
	line-height:21px;
	text-align: center;
}
.content h3{
	font-size:18px;
	font-weight: normal;
	border-bottom: 1px solid #DDDDDD;
}
.content h4{
	border-bottom: 1px solid #DDDDDD;
	font-weight:normal;
}
.content h5{
	margin:0;
}
#sidenav {
	margin-right:0px;
}
ul.unstyle{
	list-style:none;
}
ul.repositories li {
	margin:0px;
}
ul.repositories li{
	padding: 10px;
	border-radius: 10px;
}
div.repository div strong{
	width:100px;
}
div.repository img{
	display:block;
	margin:0 auto;
}
.members ul{
	list-style: none;
}
.members ul li{
	display:block;
	float:left;
}
.members img{
	width:80px;
}
#member .user img{
	display:block;
	float:left;
}
#member .user div.info{
	float:left;
}
#member .user div.info ul{
	list-style:none;
}
#member .user div.info ul li *{
	display: block;
	float:left;
}
#member .user div.info ul li strong{
	width:100px;
}
#member .user div.info ul li{
	clear:both;
}
div.raphael{
	margin-top: -100px;
	height: 630px;
}
svg{
	display: block;
}
#legend{
	top:150px;
	bottom:40px;
	right:0px;
    width:150px;
	position:fixed;
	overflow-y:auto;
	background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding:10px; 
}
#legend ul{
	margin:0;
    padding:0;
}
#legend ul li {
	list-style: none;
	clear:both;
}
#legend ul li i{
	display:block;
	float:left;
	width:20px;
	height:20px;
}
#legend ul li div{
	display:block;
	float:left;
	margin-left: 2px;
}
svg *{
	z-index: 9999;
}
div#map{
	margin:0;
	padding:0;
	z-index:0;
	height: 500px;
	background-color:#bed0de;
	cursor: pointer;
}