<div class="row-fluid">
    <div class="span12">
        <h2>{{repository.name}}</h2>
    </div>
</div>
<div class="row-fluid content">
    <div class="row-fluid content">
        <div class="span2">
            <div class="tabbable tabs-left">
                <ul id="sidenav" class="nav nav-tabs " data-spy="affix">
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}">Home</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/members">Members</a></li>
                    <li class="active"><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/commits">Commits</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/commit">Commit stat. </a></li>
                    <!--<li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/geo">Geo stat.</a></li> -->
                </ul>
                <div class="tab-content ng-cloak"></div>
            </div>
        </div>
        <div class="span10">
            <div class="commits">
                <div ng-repeat="commit in commits">
                    <h4 ng-show="formatDate(commit.commit.author.date) != formatDate(commits[$index-1].commit.author.date)">{{formatDate(commit.commit.author.date)}}</h4>
                    <div class="commit row-fluid">
                      <div class="span1 offset1"> 
                        <a ng-click="popupMember(commit.committer.login)" title="{{commit.committer.login}}">
                            <img ng-src="{{commit.committer.avatar_url}}" alt="{{commit.committer.login}}" />
                        </a>
                      </div>
                      <div class="info span10">
                        <h5>{{commit.commit.message}}</h5>
                        <ul class="unstyle">
                            <li>
                                <strong>sha :</strong>
                                <a href="http://github.com/{{repository.owner.login}}/{{repository.name}}/commit/{{commit.sha}}" title="Commit {{commit.sha}}">
                                    {{commit.sha}}
                                </a>
                             </li>
                            <li><strong>date :</strong>{{commit.commit.author.date}}</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>