<div class="row-fluid">
    <div class="span12">
        <h2>{{repository.name}}</h2>
    </div>
</div>
<div class="row-fluid content">
    <div class="row-fluid content">
        <div class="span2">
            <div class="tabbable tabs-left">
                <ul id="sidenav" class="nav nav-tabs " data-spy="affix">
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}">Home</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/members">Members</a></li>
                    <li class="active"><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/commits">Commits</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/commit">Commit stat. </a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/geo">Geo stat.</a></li>
                </ul>
                <div class="tab-content ng-cloak"></div>
            </div>
        </div>
        <div class="span10">
            <h3>Last 100 commits</h3>
            <ul class="commits">
                <li ng-repeat="commit in commits" ng-class-even="'even'" ng-class-odd="'odd'">
                    {{commit.sha}} / {{commits[$index-1].sha}}
            </ul>
        </div>
    </div>
</div>