<div class="row-fluid">
	<div class="span10 offset2"> 
		<h2>{{repository.name}}</h2>
	</div>
</div>

<div class="row-fluid">
	<div class="span12"> 
		<div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}">Home</a></li>
        <li class="active"><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/members">Members</a></li>
        <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/commits">Commits</a></li>
      </ul>
      <div class="tab-content">
        <div id="members">
          <ul>
            <li ng-repeat="member in members">
              <a ng-click="popupMember(member)" title="{{member.login}}" >
                <img ng-src="{{member.avatar_url}}" alt="{{member.login}}"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
	</div>
</div>

<div id="member" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{user.login}}</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid user">
      <div class="span2"> 
        <img ng-src="{{user.avatar_url}}" alt="{{user.login}}" />
      </div>
      <div class="info span10">
        <ul>
          <li ng-show="user.name"><strong>Name :</strong>{{user.name}}</li>
          <li ng-show="user.email"><strong>Mail :</strong><a href="mailto:{{user.email}}" title="Send a email to {{user.name}}">{{user.email}}</a></li>
          <li ng-show="user.blog"><strong>Website :</strong><a href="{{user.blog}}" title="Website of {{user.name}}">{{user.blog}}</a></li>
          <li ng-show="user.location"><strong>Location :</strong>{{user.location}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>