<div class="row-fluid">
    <div class="span12">
        <h2>{{repository.name}}</h2>
    </div>
</div>
<div class="row-fluid content">
    <div class="row-fluid content">
        <div class="span2">
            <div class="tabbable tabs-left">
                <ul id="sidenav" class="nav nav-tabs " data-spy="affix">
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}">Home</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/members">Members</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/commits">Commits</a></li>
                    <li class="active"><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/commit">Commit stat. </a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/geo">Geo stat.</a></li>
                </ul>
                <div class="tab-content ng-cloak"></div>
            </div>
        </div>
        <div class="span10">
            <h3>Commits Impacts</h3>
            <div id="commits" class="raphael"></div>
            <h3>Additions Impacts</h3>
            <div id="additions" class="raphael"></div>
            <h3>Deletions Impacts</h3>
            <div id="deletions" class="raphael"></div>
        </div>
    </div>
</div>

<div id="legend">
    <ul>
        <li ng-repeat="label in labels">
            <i style="background-color:{{colors[$index%10]}}"></i><div>{{label}}</div>
        </li>
    </ul>
</div>
