<div class="row-fluid">
    <div class="span12">
        <h2>{{repository.name}}</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="row-fluid content">
        <div class="span2">
            <div class="tabbable tabs-left">
                <ul id="sidenav" class="nav nav-tabs " data-spy="affix">
                    <li class="active"><a href="#/repo/{{repository.owner.login}}/{{repository.name}}">Home</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/members">Members</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/commits">Commits</a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/commit">Commit stat. </a></li>
                    <li><a href="#/repo/{{repository.owner.login}}/{{repository.name}}/stats/geo">Geo stat.</a></li>
                </ul>
                <div class="tab-content ng-cloak"></div>
            </div>
        </div>
        <div class="span10">
            <div class="row-fluid">
                <div class="span2">
                    <a ng-click="popupMember(repository.owner.login)" title="{{repository.owner.login}}">
                        <img ng-src="{{repository.owner.avatar_url}}" />
                    </a>
                </div>
                <div class="span10">
                    <p ng-show="repository.description">{{repository.description}}</p>
                    <div ng-show="repository.language">
                        <strong>Language : </strong>{{repository.language}}
                    </div>
                    <div>
                        <strong>Url : </strong><a href="http://github.com/{{repository.owner.login}}/{{repository.name}}" title="Go to github">http://github.com/{{repository.owner.login}}/{{repository.name}}</a>
                    </div>
                    <div>
                        <strong>Forks : </strong>{{repository.forks}}
                    </div>
                    <div>
                        <strong>Watchers : </strong>{{repository.watchers}}
                    </div>
                </div>
            </div>
            <div class="row-fluid recos">
                <div class="span12">
                    <h3>If you like this repository, you should take a look at thoses </h3>
                    <div id="recos">
                        <div ng-repeat="reco in recos" class="row-fluid">
                            <div class="span4">
                                <div class="row-fluid">
                                    <div class="span3">
                                        <a ng-click="popupMember(repository.owner.login)" title="{{reco.owner}}">
                                            <img ng-src="{{reco.avatar}}" />
                                        </a>
                                    </div>
                                    <div class="span9">
                                        <h4><a href="#/repo/{{reco.owner}}/{{reco.repository}}">{{reco.repository}}</a> by <a ng-click="popupMember(repository.owner.login)" title="{{reco.owner}}">{{reco.owner}}</a></h4>
                                        <p>{{reco.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="recos.length == 0">
                            <p>This is probably the first time this repository is ask. We have to index Github data to perform a recommendation. If you are logged, the indexation is currently running in background. So come again on this page in about 5 minutes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>