<div class="row-fluid">
    <div class="span10 offset2">
        <h2>{{user.name}} ( {{user.login}} )</h2>
    </div>
</div>
<div class="row-fluid content">
    <div class="span2">
    </div>
    <div class="span10">
        <div class="row-fluid">
            <div class="span2">
                <img ng-src="{{user.avatar_url}}" title="{{usr.name}}" />
            </div>
            <div class="span10">
                <div><strong>Site : </strong>{{user.blog}}</div>
                <div><strong>Location : </strong>{{user.location}}</div>
                <div><strong>Email : </strong>{{user.email}}</div>
                <div><strong>Company : </strong>{{user.company}}</div>
            </div>
        </div>
        <div class="recos" ng-show="recos.length > 0">
            <div class="row-fluid">
                <h3>Some linked users</h3>
                <div id="recos">
                    <span ng-repeat="reco in recos">
                        <a ng-click="popupMember(reco.login)" title="{{reco.login}}">
                            <img ng-src="{{reco.avatar}}" />
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
