@(title:String, locale:String, user:Option[securesocial.core.Identity])(content: Html)(implicit lang: Lang)
@import play.api.Play
@import play.api.Play.current
<!DOCTYPE html>
<html lang="@locale" ng-app="zenithub">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.min.css" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/leaflet/MarkerCluster.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("javascripts/leaflet/MarkerCluster.Default.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body data-offset="50" data-target=".subnav" data-spy="scroll">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="brand">@Messages("application.name")</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                        </ul>
                        <ul class="nav" id="user-menu">
                            @user match {
                                case Some(usr) => {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <img src="@usr.avatarUrl" alt="avatar" />
                                            @usr.fullName
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@securesocial.controllers.routes.LoginPage.logout()">@Messages("common.logout")</a></li>
                                        </ul>
                                    </li>
                                }
                                case None => {
                                    <li><a href='@securesocial.controllers.routes.ProviderController.authenticate("github")'>@Messages("common.login")</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <header class="jumbotron subhead">
            <div class="container-fluid">
                <form class="well form-search" ng-submit="searchRepository()">
                    <div id="searchForm">
                        <label class="control-label" for="search">
                            Search a github repository
                        </label>
                        <div>
                            <input id="search" ng-model="keyword">
                            <button type="submit" class="btn" ><i class="icon-search"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </header>

        <div class="container-fluid" id="content">
            @content
        </div>

        <footer class="container-fluid">
            @Html(Messages("footer.text"))
        </footer>

        <div id="loading" class="hide">
            <img src="@routes.Assets.at("images/spinner.gif")" alt="Laoding" /> Please wait, page is loading.
        </div>

        <div id="member" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{user.login}}</h3>
            </div>
            <div class="modal-body user">
                <div class="row-fluid ng-cloak">
                    <div class="span2">
                        <img ng-src="{{user.avatar_url}}" alt="{{user.login}}" />
                    </div>
                    <div class="info span10">
                        <ul>
                            <li ng-show="user.name"><strong>Name :</strong>{{user.name}}</li>
                            <li ng-show="user.email"><strong>Mail :</strong><a href="mailto:{{user.email}}" title="Send a email to {{user.name}}">{{user.email}}</a></li>
                            <li ng-show="user.blog"><strong>Website :</strong><a href="{{user.blog}}" title="Website of {{user.name}}">{{user.blog}}</a></li>
                            <li ng-show="user.location"><strong>Location :</strong>{{user.location}}</li>
                            <li ng-show="commitsTxt"><strong>Commit : </strong>{{commitsTxt}}</li>
                            <li ng-show="additionsTxt"><strong>Additions : </strong>{{additionsTxt}}</li>
                            <li ng-show="deletionsTxt"><strong>Deletions : </strong>{{deletionsTxt}}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>

        <!-- Angular Application -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular-cookies.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript"></script>

        @defining(Play.configuration.getString("application.mode").getOrElse("")) { mode =>
            @if(mode == "DEV") {
                <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/services.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/directives.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/filters.js")" type="text/javascript"></script>
            } else {
                <script src="@routes.Assets.at("javascripts/app.min.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/services.min.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/controllers.min.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/directives.min.js")" type="text/javascript"></script>
                <script src="@routes.Assets.at("javascripts/filters.min.js")" type="text/javascript"></script>
            }
        }
        <!-- External libs -->
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/awesomechart.js")" type="text/javascript"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.min.js" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/leaflet/leaflet.markercluster.js")" type="text/javascript"></script>
    </body>

</html>
